@import url('https://fonts.cdnfonts.com/css/verdana');

body{
    background-color: #100E09;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

.pokemon-card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.pokemon-image{
    align-self: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 315px;
    font-weight:500;
    background: #353534;
    border-radius: 10px;
    border: 2px solid rgb(105, 105, 105);
    line-height: 0px;
}

.pokemon-card h2{
    align-self: center;
    margin-bottom: 30px;
}

.div-sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar{
    background: unset;
    width: 150px;
}

.juntartudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* bulbasaur BAR STYLE */
.div-bulbasaur-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-bulbasaur-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 98px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-bulbasaur-porcentagem-defense{
    margin-top: 25px;
    margin-left: -45px;
    background: white;
    width: 98px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-bulbasaur-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.tipo-bulbasaur{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#78c850, #4e8234);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-bulbasaur2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a040a0, #703070);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;}

.tipo-bulbasaur p{
    text-shadow: black 1px 1px 2px;
}

.tipo-bulbasaur2 p{
    text-shadow: black 1px 1px 2px;
}


/* squirtle BAR STYLE */
.div-squirtle-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 88px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-squirtle-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 96px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-squirtle-porcentagem-defense{
    margin-top: 25px;
    margin-left: -45px;
    background: white;
    width: 130px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-squirtle-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 86px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

/* charmander BAR STYLE ZIKA */
.div-charmander-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 78px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-charmander-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 104px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-charmander-porcentagem-defense{
    margin-top: 25px;
    margin-left: -45px;
    background: white;
    width: 86px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-charmander-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 130px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-charmander{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#f08030, #c03028);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-charmander p{
    text-shadow: black 1px 1px 2px;
}

.tipo-squirtle{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8a878, #8a8a59);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-squirtle p{
    text-shadow: black 1px 1px 2px;
}

.tipo-squirtle{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#6890f0, #386ceb);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-squirtle p{
    text-shadow: black 1px 1px 2px;
}


.juntar-tiposDuPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}