@import url('https://fonts.cdnfonts.com/css/verdana');

body{
    background-color: #100E09;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

.pokemon-card-container{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.pokemon-image{
    align-self: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 315px;
    font-weight:500;
    background: #353534;
    border-radius: 10px;
    border: 2px solid rgb(105, 105, 105);
    line-height: 0px;
}

.pokemon-card h2{
    align-self: center;
    margin-bottom: 30px;
}

.div-sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar{
    background: unset;
    width: 150px;
}

.juntartudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* jigglypuff BAR STYLE */
.div-jigglypuff-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 190px;
    height: 10px;
    background: rgb(180, 255, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-jigglypuff-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-jigglypuff-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 40px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-jigglypuff-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 40px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.tipo-jigglypuff{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8a878, #8a8a59);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-jigglypuff2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#f98cff,#f540ff);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

.tipo-jigglypuff p{
    text-shadow: black 1px 1px 2px;
}

.tipo-jigglypuff2 p{
    text-shadow: black 1px 1px 2px;
}


/* vulpix BAR STYLE */
.div-vulpix-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 76px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-vulpix-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 82px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-vulpix-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 80px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-vulpix-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 130px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

/* eevee BAR STYLE ZIKA */
.div-eevee-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-eevee-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-eevee-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 130px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-eevee-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-eevee{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8a878, #8a8a59);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-eevee p{
    text-shadow: black 1px 1px 2px;
}


.tipo-vulpix p{
    text-shadow: black 1px 1px 2px;
}

.tipo-vulpix{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#f08030, #c03028);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-vulpix p{
    text-shadow: black 1px 1px 2px;
}


.juntar-tiposDuPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}