@import url('https://fonts.cdnfonts.com/css/verdana');

body{
    background-color: #100E09;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

.pokemon-card-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}

.pokemon-image{
    align-self: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 315px;
    font-weight:500;
    background: #353534;
    border-radius: 10px;
    border: 2px solid rgb(105, 105, 105);
    line-height: 0px;
}

.pokemon-card h2{
    align-self: center;
    margin-bottom: 30px;
}

.div-sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar{
    background: unset;
    width: 150px;
}

.juntartudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* onix BAR STYLE */
.div-onix-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 70px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-onix-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-onix-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 180px;
    height: 10px;
    background: rgb(2, 255, 85);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-onix-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 140px;
    height: 10px;
    background: rgb(255, 102, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.tipo-onix{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8a878, #8a8a59);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 28px;
    padding-right: 28px;
}

.tipo-onix2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#f98cff,#f540ff);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

.tipo-onix p{
    text-shadow: black 1px 1px 2px;
}

.tipo-onix2 p{
    text-shadow: black 1px 1px 2px;
}


/* geodude BAR STYLE */
.div-geodude-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 76px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-geodude-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 82px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-geodude-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 80px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-geodude-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 130px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

/* machop BAR STYLE ZIKA */
.div-machop-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 140px;
    height: 10px;
    background: rgb(255, 102, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-machop-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 160px;
    height: 10px;
    background: rgb(255, 152, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-machop-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-machop-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 70px;
    height: 10px;
    background: red;
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-machop{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#c03028, #9d2721);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-machop p{
    text-shadow: black 1px 1px 2px;
}


.tipo-geodude{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#b8a038, #837539);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 28px;
    padding-right: 28px;
}

.tipo-geodude2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#e0c068, #d4a82f);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tipo-geodude p{
    text-shadow: black 1px 1px 2px;
}

.tipo-geodude2 p{
    text-shadow: black 1px 1px 2px;
}

.juntar-tiposDuPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}