@import url('https://fonts.cdnfonts.com/css/verdana');

body{
    background-color: #100E09;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

.pokemon-image{
    align-self: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 315px);
    grid-template-rows: auto auto;
    gap: 30px;
    padding: 30px;
    max-width: fit-content;
    margin: 0 auto;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 315px;
    font-weight: 500;
    background: #353534;
    border-radius: 10px;
    border: 2px solid rgb(105, 105, 105);
    line-height: 0px;
}

.pokemon-card h2{
    align-self: center;
    margin-bottom: 30px;
}

.div-sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar{
    background: unset;
    width: 150px;
}

.juntartudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* haunter BAR STYLE */
.div-haunter-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-haunter-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 100px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-haunter-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-haunter-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 170px;
    height: 10px;
    background: rgb(255, 228, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.tipo-haunter{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(rgb(112, 88, 152), rgb(85, 67, 116));
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 22px;
    padding-right: 22px;
}

.tipo-haunter2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(rgb(160, 64, 160), rgb(128, 51, 128));
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

.tipo-haunter p{
    text-shadow: black 1px 1px 2px;
}

.tipo-haunter2 p{
    text-shadow: black 1px 1px 2px;
}


/* alakazan BAR STYLE */
.div-alakazan-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-alakazan-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 100px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-alakazan-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-alakazan-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 180px;
    height: 10px;
    background: rgb(154, 255, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

/* gengar BAR STYLE ZIKA */
.div-gengar-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 120px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-gengar-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 130px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-gengar-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 120px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-gengar-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 180px;
    height: 10px;
    background: rgb(204, 255, 0);
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-gengar{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(rgb(112, 88, 152), rgb(85, 67, 116));
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 22px;
    padding-right: 22px;
}

.tipo-gengar2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(rgb(160, 64, 160), rgb(128, 51, 128));
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tipo-gengar p{
    text-shadow: black 1px 1px 2px;
}

.tipo-gengar2 p{
    text-shadow: black 1px 1px 2px;
}


.tipo-alakazan{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(rgb(248, 88, 136), rgb(246, 28, 93));
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}


.tipo-alakazan p{
    text-shadow: black 1px 1px 2px;
}

.tipo-alakazan2 p{
    text-shadow: black 1px 1px 2px;
}

.juntar-tiposDuPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}