@import url('https://fonts.cdnfonts.com/css/verdana');

body{
    background-color: #100E09;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

.pokemon-image{
    align-self: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    place-items: center;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 315px;
    font-weight: 500;
    background: #353534;
    border-radius: 10px;
    border: 2px solid rgb(105, 105, 105);
    line-height: 0px;
}

.pokemon-card h2{
    align-self: center;
    margin-bottom: 30px;
}

.div-sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar{
    background: unset;
    width: 150px;
}

.juntartudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* vileplume BAR STYLE */
.div-vileplume-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 150px;
    height: 10px;
    background: rgb(255, 126, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-vileplume-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 160px;
    height: 10px;
    background: rgb(255, 152, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-vileplume-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 190px;
    height: 10px;
    background: rgb(255, 178, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-vileplume-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 100px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.tipo-vileplume{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#78c850,#5ca935);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-vileplume2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a040a0,#803380);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 24px;
    padding-right: 24px;
}

.tipo-vileplume p{
    text-shadow: black 1px 1px 2px;
}

.tipo-vileplume2 p{
    text-shadow: black 1px 1px 2px;
}


/* gloom BAR STYLE */
.div-gloom-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 60px;
    height: 10px;
    background: rgb(255, 50, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-gloom-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 112px;
    height: 10px;
    background: rgb(255, 76, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-gloom-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 70px;
    height: 10px;
    background: rgb(255, 102, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-gloom-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 144px;
    height: 10px;
    background: rgb(255, 228, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

/* oddish BAR STYLE ZIKA */
.div-oddish-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 90px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-oddish-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 100px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-oddish-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-oddish-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 60px;
    height: 10px;
    background: rgb(255, 30, 0);
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-oddish{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#78c850,#5ca935);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-oddish2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a040a0,#803380);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 24px;
    padding-right: 24px;
}

/* ekans BAR STYLE ZIKA */
.div-ekans-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 70px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-ekans-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 120px;
    height: 10px;
    background: rgb(255, 50, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-ekans-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 88px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-ekans-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: rgb(255, 30, 0);
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-ekans{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a040a0,#803380);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-ekans p{
    text-shadow: black 1px 1px 2px;
}

.tipo-oddish p{
    text-shadow: black 1px 1px 2px;
}

.tipo-oddish2 p{
    text-shadow: black 1px 1px 2px;
}


.tipo-gloom{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#78c850,#5ca935);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-gloom2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a040a0,#803380);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 24px;
    padding-right: 24px;
}

.tipo-gloom p{
    text-shadow: black 1px 1px 2px;
}

.tipo-gloom2 p{
    text-shadow: black 1px 1px 2px;
}

.juntar-tiposDuPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}