@import url('https://fonts.cdnfonts.com/css/verdana');

body{
    background-color: #100E09;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
}

.pokemon-image{
    align-self: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    place-self: center;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    place-self: center;
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    place-self: flex-end;
}

.item-4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    place-self: flex-end;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 315px;
    font-weight: 500;
    background: #353534;
    border-radius: 10px;
    border: 2px solid rgb(105, 105, 105);
    line-height: 0px;
}

.pokemon-card h2{
    align-self: center;
    margin-bottom: 30px;
}

.div-sameline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar{
    background: unset;
    width: 150px;
}

.juntartudo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* hoothoot BAR STYLE */
.div-hoothoot-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 120px;
    height: 10px;
    background: rgb(255, 50, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-hoothoot-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 60px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-hoothoot-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 60px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-hoothoot-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 100px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.tipo-hoothoot{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8a878,#8a8a59);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}

.tipo-hoothoot2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a890f0, #9180c4);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
}

.tipo-hoothoot p{
    text-shadow: black 1px 1px 2px;
}

.tipo-hoothoot2 p{
    text-shadow: black 1px 1px 2px;
}


/* ledyba BAR STYLE */
.div-ledyba-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 80px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-ledyba-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 40px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-ledyba-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 60px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-ledyba-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 110px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

/* sentret BAR STYLE ZIKA */
.div-sentret-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 70px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-sentret-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 92px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-sentret-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 68px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-sentret-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 40px;
    height: 10px;
    background: rgb(255, 30, 0);
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-sentret{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8a878,#8a8a59);
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
}


/* spinarak BAR STYLE ZIKA */
.div-spinarak-porcentagem-hp{
    margin-top: 8px;
    margin-left: -45px;
    background: white;
    width: 80px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-spinarak-porcentagem-attack{
    margin-top: 23px;
    margin-left: -45px;
    background: white;
    width: 120px;
    height: 10px;
    background: rgb(255, 50, 0);
    border-radius: 2px;  
    border: 1px solid black;
}

.div-spinarak-porcentagem-defense{
    margin-top: 19px;
    margin-left: -45px;
    background: white;
    width: 80px;
    height: 10px;
    background: red;
    border-radius: 2px;  
    border: 1px solid black;
}

.div-spinarak-porcentagem-speed{
    margin-top: 22px;
    margin-left: -45px;
    background: white;
    width: 60px;
    height: 10px;
    background: rgb(255, 30, 0);
    border-radius: 2px;
    border: 1px solid black;
}

.tipo-spinarak{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8b820,#8d9a1b);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 32px;
    padding-right: 32px;
}

.tipo-spinarak2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a040a0,#803380);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tipo-spinarak p{
    text-shadow: black 1px 1px 2px;
}


.tipo-spinarak2 p{
    text-shadow: black 1px 1px 2px;
}

.tipo-sentret p{
    text-shadow: black 1px 1px 2px;
}

.tipo-sentret2 p{
    text-shadow: black 1px 1px 2px;
}


.tipo-ledyba{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a8b820,#8d9a1b);
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-weight: normal;
    border: 1px solid black;
    padding-left: 28px;
    padding-right: 28px;
}

.tipo-ledyba2{
    margin-top: 15px;
    align-self: center;
    background: linear-gradient(#a890f0, #9180c4);
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: normal;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tipo-ledyba p{
    text-shadow: black 1px 1px 2px;
}

.tipo-ledyba2 p{
    text-shadow: black 1px 1px 2px;
}

.juntar-tiposDuPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}